::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(41, 61, 94);
    height: 2rem;
}







.project-cards::-webkit-scrollbar {
    display: none;
}







.proj-idea::-webkit-scrollbar {
    width: 8px;
}

.proj-idea::-webkit-scrollbar-track {
    background: grey;
}

.proj-idea::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}